<mat-card class="mat-elevation-z4" style="max-width: 600px; margin: 2rem auto; padding: 2rem;">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" style="display: flex; flex-direction: column; gap: 1rem;">
    <div style="display: flex; gap: 1rem;">
      <input formControlName="firstName" placeholder="Nome" />
      <input formControlName="lastName" placeholder="Sobrenome" />
      <input formControlName="email" placeholder="Email" />
      <input formControlName="birthday" type="date" placeholder="Data de Nascimento" />
      <input formControlName="login" placeholder="Login" />
      <input type="password" formControlName="password" placeholder="Senha" />
      <input formControlName="phone" placeholder="Telefone" />
      <button mat-raised-button color="primary" type="submit">Salvar</button>
      <button mat-raised-button color="primary" type="button">Salvar Alterações</button>
    </div>
  </form>
  <div>
  <h2>Lista de Usuários</h2>
  <table>
    <thead>
      <tr>
        <th>Foto</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Login</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>
          <img *ngIf="user.photoUrl" [src]="user.photoUrl" alt="Foto" width="50" height="50" />
          <input type="file" (change)="onUserPhotoSelected($event, user.id)" />
        </td>
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.login }}</td>
        <td>
          <button (click)="enableEditing(user)">habEditar</button>
          <button *ngIf="editingUserId === user.id" (click)="saveUser(user.id)">editar</button>
          <button (click)="deleteUser(user.id)">deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</mat-card>